{% extends "base.html" %}
{% block title %}Productos{% endblock %}
{% block content %}
<h2 class="mb-4">Productos</h2>
<div class="row">
    {% for producto in productos %}
    <div class="col-md-4">
        <div class="card mb-4">
            {% if producto.imagenes %}
            <!-- Verificar que la columna 'imagenes' no sea una lista -->
            {% set imagen = producto.imagenes[0] if producto.imagenes|length > 0 else producto.imagenes %}
            <img src="{{ url_for('static', filename=imagen) }}" class="card-img-top" alt="{{ producto.nombre }}">
            {% else %}
            <!-- Imagen por defecto si no existe imagen -->
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Sin imagen">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text">{{ producto.descripcion[:100] }}...</p>
                <p class="card-text"><strong>${{ producto.precio }}</strong></p>
                <a href="{{ url_for('ver_producto', producto_id=producto.id) }}" class="btn btn-info btn-sm">Ver más</a>
                {% if current_user.is_authenticated and current_user.role == 'admin' %}
                <a href="{{ url_for('editar_producto', producto_id=producto.id) }}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{{ url_for('eliminar_producto', producto_id=producto.id) }}" class="btn btn-danger btn-sm">Eliminar</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% if current_user.is_authenticated and current_user.role == 'admin' %}
    <a href="{{ url_for('agregar_producto') }}" class="btn btn-success">Agregar Producto</a>
{% endif %}
{% endblock %}
